/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .banner-title {
    font-size: 20px;
  }

  .banner-title-heading {
    font-size: 8px;
  }

  .banner-image {
    min-height: 80vh;
    content: url('assets/images/banner-mob.jpg');
  }

  .top-title {
    font-size: 20px;
    padding: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .banner-title {
    font-size: 18px;
  }

  .banner-title-heading {
    font-size: 20px;
  }

  .banner-image {
    min-height: 80vh;
    /* content: url('assets/images/banner.jpg'); */
  }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .banner-title {
    font-size: 18px;
  }

  .banner-title-heading {
    margin-top: -60%;
    font-size: 30px;
  }

  .banner-image {
    max-height: 500px;
    /* content: url('assets/images/banner.jpg'); */
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .banner-title {
    font-size: 18px;
  }

  .banner-title-heading {
    font-size: 30px;
    font-size: 40px;
  }

  .banner-image {
    max-height: 500px;
    /* content: url('assets/images/banner.jpg'); */
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .banner-title {
    font-size: 18px;
  }

  .banner-title-heading {
    margin-top: -30%;
    font-size: 50px;
  }

  .banner-image {
    max-height: 700px;
    content: url('assets/images/banner.jpg');
  }
}

.checked {
  color: orange;
}
